    <img src="assets\LTI.jpeg" width="200px" alt="Image not found" style="display:inline-block;" > 
    <div style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;"><h1 style="right: 0px;margin-top: 0px;margin-left: 650px;">LTI Insurance</h1> </div>
 <div class="card-group">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><a href="http://localhost:4200/login">Login</a></h5>
   
        
        </div>
      </div>
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><a href="http://localhost:4200/adminLogin">Admin Login</a></h5>
        
         
        </div>
      </div>
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><a href="http://localhost:4200/register">Register</a></h5>     
        </div>
      </div>
    </div>

<!-- 
<div  class="landingpage">
<a href="http://localhost:4200/login">Login</a>
</div>
<div class="landingpage">
<a href="http://localhost:4200/adminLogin">Admin Login</a>
</div>
<div class="landingpage">
<a href="http://localhost:4200/register">Register</a>
</div> -->