<body>
<div class="container">
<div>  
<button routerLink="/selectvehicle" class="btn btn-primary">calculate premium</button>
<button routerLink="/renewVehicle"  class="btn btn-primary">renew insurance</button>
<button  routerLink="/login"  class="btn btn-primary">Login</button>
<button  routerLink="/register"  class="btn btn-primary">Register</button>
<button  routerLink="/home"  class="btn btn-primary">Home</button>
<button  routerLink="/travel"  class="btn btn-primary">Travel</button>
</div>

<div>
  <router-outlet></router-outlet>
</div>
</div>

</body>