

<!-- <div>  
<button routerLink="/selectvehicle" class="btn btn-primary">calculate premium</button>
<button routerLink="/renewVehicle"  class="btn btn-primary">renew insurance</button>
<button  routerLink="/login"  class="btn btn-primary">Login</button>
<button  routerLink="/register"  class="btn btn-primary">Register</button>
<button  routerLink="/home"  class="btn btn-primary">Home</button>
<button  routerLink="/travel"  class="btn btn-primary">Travel</button>
<button  routerLink="/newvehicle"  class="btn btn-primary">VehicleInsurance</button>
<button  routerLink="/addtravel"  class="btn btn-primary">Add travel insurance </button>
<button  routerLink="/addclaim"  class="btn btn-primary"> add claim </button>
<button  routerLink="/addvehicleclaim"  class="btn btn-primary"> add vehicle claim </button>
<button  routerLink="/admin"  class="btn btn-primary"> admin</button>
<button  routerLink="/showclaim"  class="btn btn-primary"> show claim </button>
<button  routerLink="/adminLogin"  class="btn btn-primary">admin Login</button>
</div> -->


  <router-outlet></router-outlet>
