<p>successcomponent works!</p>
<div style="text-align:center;margin: 60px;">

        <div class="alert alert-success" role="alert">
        <span style="font-family: 'Times New Roman', Times, serif;font-size: 50px;"><u>Payment Successful!</u></span>
        </div>

<div style="text-align:center;margin: 60px;">
   
        <ul class="list-group list-group-flush;">
           The Policy Number is:<li class="list-group-item list-group-item-success">{{vehi.policyno}}</li><br>
            The Registration Number is:<li class="list-group-item list-group-item-success">{{vehi.registrationno}}</li><br>
            The Vehicle Manufacturer is:<li class="list-group-item list-group-item-success">{{vehi.maker}}</li><br>
            The Vehicle Model is:<li class="list-group-item list-group-item-success">{{vehi.model}}</li><br>
            The Amount of the plan is:<li class="list-group-item list-group-item-success">{{vehi.amount}}</li><br>   
        </ul>
</div>
</div>