<h3>Claim History</h3>
<button (click)="gotovehicleclaim()">vehicle insurance claim</button>
<button  (click)="gototravelclaim()" >travel insurance claim</button>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Claim ID</th>
        <th scope="col">Type</th>
        <th scope="col">Ticket raised date</th>
        <th scope="col">Status</th>
        <th scope="col">Ticket resolved date</th>
        <th scope="col">Policy No</th>
        <th scope="col">Reason</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of claims">
            <td>{{c.claimid}}</td>
            <td>{{c.type}}</td>
            <td>{{c.ticketdate}}</td>
            <td>{{c.status}}</td>
            <td>{{c.ticketresolveddate}}</td>
            <td>{{c.policyno}}</td>
            <td>{{c.reason}}</td>
        </tr>

        <tr *ngFor="let c of vehicleclaim">
            <td>{{c.claimid}}</td>
            <td>{{c.type}}</td>
            <td>{{c.ticketdate}}</td>
            <td>{{c.status}}</td>
            <td>{{c.ticketresolveddate}}</td>
            <td>{{c.policyno}}</td>
            <td>{{c.reason}}</td>
        </tr>
    </tbody>
  </table>
